<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="background-user">    
    <header>
        <div class="logo-nav-area">
            <h1>Bienvenido/a {{ username }}</h1>                
            <nav>
                <a href="{{ url_for('productos') }}">Productos</a>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            </nav>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>